/* IDS**/
#ajio-nav-logo{
    height: 45%;
}



#logo-container-div{
    display: flex;
    align-items: center;
}

#nav-categories-container{
    display: flex;
    align-items: flex-end;
    padding-bottom: 1%;
    font-size: 100%;
    font-weight: 500;
    justify-content: space-evenly;
    text-transform: uppercase;
}

#nav-utilities-container{
    display: flex;
    align-items: flex-end;
    padding-left: 1%;
padding-bottom: 1%;
}

#nav-search-div{
    border-radius: 1000px;
    padding: 0.8% 2%;
    border: 1px solid black;
    background-color: beige;
    width: 70%;
}

/** classes**/
.nav-container{
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding-left: 8%;
    padding-right: 7%;
}

.nav-container-div{
    padding: 0.3%;
    margin: 2% 0;
}

.carousel.slide{
    margin-bottom:1%;
}


/**tag**/
#top_drops{
    background: rgb(241, 66, 66);
    background: linear-gradient(90deg);
    color: white;
    font-weight: 200;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.7%;
}

/** media queries**/
@media screen and (min-width: 900px) {
    #ajio-new-logo {
        height: 50%;
    }

    .nav-container-div {
        padding: 0 3%;
        margin: 0;
    }
}
